.listItem__wrapper {
    list-style: none;
    align-items: center;
    display: flex;
    padding: 10px;
    margin: 12px;
    background-color: #fff;
    border-radius: 8px;
    border: 6px solid #fff;
    box-shadow: 0 2px 23px 0 rgba(218, 236, 254, 0.4);
    transition: 0.4s ease;
}

.listItem__wrapper:hover {
    background-color: #fef6d5;
    border: 6px solid #fff;
}

.listItem__left {
    float: left;
    width: 20vw;
    display: flex;
    align-items: center;
}

.listItem__right {
    float: right;
    width: 20vw;
    display: flex;
    align-items: center;
}

.listItem__image {
    width: 32px;
    height: 32px;
    margin: 0 auto;
}

.listItem__date {
    font-size: 12px;
    color: #fff;
    background-color: #000;
    padding: 3px 5px;;
    border-radius: 4px;
    font-weight: 400;
    margin-right: 10px;
    margin-left: auto;
}

.listItem__departure {
    font-size: 22px;
    color: #444;
    font-weight: 300;
    margin-right: 0;
}

.listItem__arrival {
    font-size: 22px;
    color: #444;;
    font-weight: 300;
    margin-left: 0;
}

.listItem__country {
    font-size: 12px;
    color: #000;
    background-color: #fed42d;
    padding: 3px 5px;
    border-radius: 4px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: auto;
}